<div class="container card">
  <div class="card-body text-center">
      <h2 class="card-title">
          <%= user.username %>
      </h2>
      <h3>
          <%= user.email %>
      </h3>

      <button class="btn btn-outline-danger btn-sm" id="logout-button">Log Out</button>
  </div>
</div>


<script>
  document.getElementById('logout-button').addEventListener('click', () => {
      const url = 'http://localhost:3000/logout'

      fetch(url, { method: 'post' })
          .then(response => {
              // http 301 response
              // how can i follow the http redirect response?
              if (response.redirected) {
                  window.location.href = response.url;
              }
          })
          .catch(function (err) {
              console.info(err + " url: " + url);
          });
  })


</script>